{% extends 'layout.html' %}
{% load static %}

{% block title %}
  KNOX.UNICODE
{% endblock %}

{% block content %} 

<script src="{% static 'media/js/scriptUp.js' %}"></script>

  <div>
    <div class="d-flex flex-nowrap">
      <div class="d-flex flex-nowrap" style="position: fixed; z-index: 1; width: 28%; height: 100vh;">
        <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 16%;">
          <div>
            
          <form action="site-register" method="post" id="export-form">
            {% csrf_token %}
            <input type="hidden" name="header" value="PCFET0NUWVBFIGh0bWw+PGh0bWwgbGFuZz0iZW4iPjxoZWFkPjxtZXRhIGNoYXJzZXQ9IlVURi04Ij48dGl0bGU+S25veDwvdGl0bGU+PGxpbmsgcmVsPSJzdHlsZXNoZWV0IiBocmVmPSJodHRwczovL2Nkbi5qc2RlbGl2ci5uZXQvbnBtL2Jvb3RzdHJhcEA1LjIuMi9kaXN0L2Nzcy9ib290c3RyYXAubWluLmNzcyI+PC9oZWFkPjxib2R5PjxzY3JpcHQgdHlwZT0idGV4dC9qYXZhc2NyaXB0InNyYz0iaHR0cDovL2FqYXguZ29vZ2xlYXBpcy5jb20vYWpheC9saWJzL2pxdWVyeS8xLjguMy9qcXVlcnkubWluLmpzIj48L3NjcmlwdD4=" />
            <input type="hidden" name="footer" value="PHNjcmlwdCBzcmM9Imh0dHBzOi8vY2RuLmpzZGVsaXZyLm5ldC9ucG0vYm9vdHN0cmFwQDUuMi4yL2Rpc3QvanMvYm9vdHN0cmFwLm1pbi5qcyI+PC9zY3JpcHQ+PHNjcmlwdCBzcmM9Imh0dHBzOi8vY2RuLmpzZGVsaXZyLm5ldC9ucG0vYm9vdHN0cmFwQDUuMi4yL2Rpc3QvanMvYm9vdHN0cmFwLmJ1bmRsZS5taW4uanMiPjwvc2NyaXB0PjxzY3JpcHQgc3JjPSJodHRwczovL2dldGJvb3RzdHJhcC5jb20vZG9jcy81LjIvZXhhbXBsZXMvc2lkZWJhcnMvc2lkZWJhcnMuanMiPjwvc2NyaXB0PjwvYm9keT48L2h0bWw+" />
            <input id="username" name="username" type="hidden"placeholder="Username" value="{{ userole }}" />
            <input id="value" name="value" type="hidden" placeholder="Value" />
            <input type="hidden" id="submit-btn" />
          </form>


              <a id="export-btn" class="d-block p-3 link-dark text-decoration-none" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Export">
                <i class="fa-solid fa-download  fa-xl"></i>
              </a>

              <script>
                var form = document.getElementById("export-form");

                document.getElementById("export-btn").addEventListener("click", function () {
                  form.submit();
                });
              </script>
          </div>

          <div class="d-none" id="tags_json_data">{{ tagJson }}</div>
          <div class="d-none" id="component_json_data">{{ componentJson }}</div>

          <ul class="nav nav-pills nav-flush flex-column mb-auto text-center" id="tags-sss"></ul>


          <div class="dropdown border-top">
            <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><img src="https://i.pinimg.com/originals/71/ac/a3/71aca3fd61f65676083c5420d9727a12.jpg" alt="mdo" width="24" height="24" class="rounded-circle" /></a>
            <ul class="dropdown-menu text-small shadow">
              <li>
                <a class="dropdown-item" href="#">New project...</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Profile</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#">Sign out</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white" style="width: 84%;">
          <div class="list-group list-group-flush border-bottom scrollarea" id="components-sss">
          </div>


        </div>
      </div>
      

      
      <script>
        function componentsCoint(input){   
          let component_json_data = document.getElementById('component_json_data').innerHTML;
          let component_array_date = JSON.parse(component_json_data);
          
          let coint = 0;
          for (let i = 0; i < component_array_date.length; i++) {
            if(component_array_date[i]['fields']['color'] == input)
              coint ++;
          }
          return coint;
        }

        function tag_html(){
          let tags_json_data = document.getElementById('tags_json_data').innerHTML;
          let tags_array_date = JSON.parse(tags_json_data);
          console.log(tags_array_date);
          let tag_html = document.getElementById('tags-sss').innerHTML;
          
          for (let i = 0; i < tags_array_date.length; i++) {
            console.log(tags_array_date[i]['fields']['title']);
            tag_html = tag_html + `
            <li class="nav-item">
              <a href="#" onclick="components('`+ tags_array_date[i]['fields']['slug']+`')" class="nav-link active py-3 border-bottom rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label=" ` + 
                tags_array_date[i]['fields']['slug'] + `" ><img src="` + 
                tags_array_date[i]['fields']['image'] + `" class="img-responsive" width="40" />
                <span class="position-absolute top-25 translate-middle badge rounded-pill bg-danger">
                  `+ componentsCoint(tags_array_date[i]['fields']['slug']) +`
                  <span class="visually-hidden">unread messages</span>
                </span>
              </a>
            </li>`;
          }
          document.getElementById('tags-sss').innerHTML = tag_html;
        }
        tag_html();
        
        function components(input = null){   
          let component_json_data = document.getElementById('component_json_data').innerHTML;
          let component_array_date = JSON.parse(component_json_data);
          console.log(component_array_date);
          let com_html = document.getElementById('components-sss').innerHTML = '';
          
          for (let i = 0; i < component_array_date.length; i++) {
            if(component_array_date[i]['fields']['color'] == input || input == null){
              console.log(component_array_date[i]['fields']['title']);
              com_html = com_html +   
              `<div class="list-group-item list-group-item-action py-3 lh-sm"><div class="d-flex w-100 align-items-center justify-content-between"><strong class="mb-1">`+
                component_array_date[i]['fields']['title']+`</strong><small class="text-muted">`+
                component_array_date[i]['fields']['color']+`</small></div><div class="col-10 mb-1 small"><img src="` + 
                component_array_date[i]['fields']['image'] + `" class="img-fluid rounded-4 w-100" draggable="true" ondragstart="drag(event)" id="`+
                component_array_date[i]['fields']['slug']+`" html='`+
                component_array_date[i]['fields']['value']+`' js='`+
                component_array_date[i]['fields']['javascript']+`' /></div></div>`;
            }
          }
          document.getElementById('components-sss').innerHTML = com_html;
        }


        
        components();
      </script>

      <div style="width:72%; margin: 0; margin-left: auto;" id="canvasZone">
        <div ondrop="drop(event,this)" ondragover="allowDrop(event)" id="dropper">
          <div class="px-5 py-5 text-center">
            <div class="px-2 py-3 rounded-4 border-3 border-primary" style="border-style: dashed;">
              <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57" />
              <h1 class="display-5 fw-bold">Drop here</h1>
              <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                  <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                  <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div id="modals"></div>

{% endblock %}
